<div id="animation">
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
    <div class="animation-star"></div>
  </div>
